




* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-size: 16px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* header */
.header__top {
  background-color: #BB12BE;
  color: #fff;
}

.header__row {
  max-width: 1500px;
  height: 107px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.header__title {
  max-width: 240px;
}

.header__right {
  margin-left: auto;
}

.header__list {
  max-width: 1500px;
  height: 57px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* hero */
.hero {
  height: 680px;
  width: 100%;
  background: linear-gradient(99.78deg, rgba(0, 0, 0, 0.15) 14.18%, rgba(0, 0, 0, 0) 84.28%), url('../img/hero_bg.jpg') center center no-repeat;
  padding-top: 1px;
}

.hero__title {
  margin-top: 356px;
  max-width: 857px;
  font-weight: bold;
  font-size: 66px;
  line-height: 79px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
}




