




* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-size: 16px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

:root {
  --violet: #BB12BE;
}

/* header */
.header__top {
  background-color: var(--violet);
  color: #fff;
}

.header__row {
  max-width: 1500px;
  height: 107px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.header__title {
  max-width: 240px;
  padding-left: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.header__right {
  margin-left: auto;
}

.header__list {
  max-width: 1500px;
  height: 57px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* hero */
.hero {
  height: 680px;
  width: 100%;
  background: linear-gradient(99.78deg, rgba(0, 0, 0, 0.15) 14.18%, rgba(0, 0, 0, 0) 84.28%), url('../img/hero_bg.jpg') center center no-repeat;
  padding-top: 1px;
}

.hero__title {
  margin-top: 356px;
  max-width: 857px;
  font-weight: bold;
  font-size: 66px;
  line-height: 79px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
}

.header__list a {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: black;
  fill: black;

}

.items__cargo {
  margin-left: 50px;
  padding-left: 40px;
  background: url('../img/box_menu.svg') no-repeat;
}

.iten__transport {
  background: url('../img/truck.svg') no-repeat;
  padding-left: 35px;
}

.item__service {
  background: url('../img/tools.svg') no-repeat;
  padding-left: 30px;
}

.item__spare {
  background: url('../img/settings.svg') no-repeat;
  padding-left: 30px;
}

.item__droplet {
  background: url('../img/droplet.svg') no-repeat;
  padding-left: 30px;
}

.item__cafe {
  background: url('../img/cafe.svg') no-repeat;
  padding-left: 30px;
}

.item__auto {
  background: url('../img/key.svg') no-repeat;
  padding-left: 30px;
}

.favorites {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 23px;
  background: url('../img/favorit.svg') no-repeat;
  fill: var(--violet);
}

.item__favorites {
 display: flex;
 align-items: center;
}
