@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.woff2') format('woff2'),
       url('../fonts/RobotoRegular.woff') format('woff');
       font-style: normal;
       font-weight: 400;
}




* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-size: 16px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

:root {
  --violet: #BB12BE;
  --purpur: #7570AE;
  --black: #333333;
  --darkviolet: #87029C;
}

/* header */
.header__top {
  background-color: var(--violet);
  color: #fff;
}

.header__row {
  max-width: 1500px;
  height: 107px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.header__title {
  max-width: 240px;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.header__right {
  margin-left: auto;
}

.mail__as {
  width: 25px;
  height: 21px;
  margin-right: 32px;
  border: none;
  background: url('../img/email2.svg') no-repeat;
  fill: #fff;
}

.area {
  margin-right: 47px;
  font-size: 16px;
  line-height: 22px;
  background: url('../img/lk.svg') no-repeat;
  fill: #fff;
  padding-left: 20px;
}

.header__list {
  max-width: 1500px;
  height: 57px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add__ad {
  padding: 8px 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border: none;
}

.header__list a {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: black;
  fill: black;
}

.items__cargo {
  margin-left: 50px;
  padding-left: 40px;
  background: url('../img/box_menu.svg') no-repeat;
}

.iten__transport {
  background: url('../img/truck.svg') no-repeat;
  padding-left: 35px;
}

.item__service {
  background: url('../img/tools.svg') no-repeat;
  padding-left: 30px;
}

.item__spare {
  background: url('../img/settings.svg') no-repeat;
  padding-left: 30px;
}

.item__droplet {
  background: url('../img/droplet.svg') no-repeat;
  padding-left: 30px;
}

.item__cafe {
  background: url('../img/cafe.svg') no-repeat;
  padding-left: 30px;
}

.item__auto {
  background: url('../img/key.svg') no-repeat;
  padding-left: 30px;
}

.favorites {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 23px;
  background: url('../img/favorit.svg') no-repeat;
  fill: var(--violet);
}

.item__favorites {
 display: flex;
 align-items: center;
}


/* hero */
.hero {
  height: 680px;
  width: 100%;
  background: linear-gradient(99.78deg, rgba(0, 0, 0, 0.15) 14.18%, rgba(0, 0, 0, 0) 84.28%), url('../img/hero_bg.jpg') center center no-repeat;
  padding-top: 1px;
}

.hero__title {
  margin-top: 356px;
  max-width: 857px;
  font-weight: bold;
  font-size: 66px;
  line-height: 79px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
}

/* container__menu */
.container__menu {
  background: #E5E5E5;
  padding: 68px 0 55px;

}

.container__menu-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-box {
  width: 170px;
  height: 144px;
  padding-top: 10px;
  background-color: #fff;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #615BA3;
}

.menu-box__img {
  width: 86px;
  height: 86px;
  fill: var(--purpur);
}

.add-cargo__bg {
  background: url('../img/add-cargo.svg') center no-repeat;
}

.counter__bg {
  background: url('../img/conter.svg') center no-repeat;
}

.add-service__bg {
  background: url('../img/add-service.svg') center no-repeat;
}

.sale-avto__bg {
  background: url('../img/sale-avto.svg') center no-repeat;
}

.distance__bg {
  background: url('../img/distance.svg') center no-repeat;
}

.add-shop__bg {
  background: url('../img/add-shop.svg') center no-repeat;
}

.menu-box__title {
  width: 130px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
/* container__cargo */
.container__cargo {
  position: relative;
  background-color: #fafafa;
  padding-top: 72px;
  padding-bottom: 72px;
  color: #333333;
}

.container__cargo-header {
  max-width: 802px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: var(--black);
}

.btn__all {
  padding: 8px 10px;
  color: var(--darkviolet);
  border: 1px solid var(--darkviolet);
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
}

.container__cargo-box {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.cargo__card {
  max-width: 802px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  z-index: 2;
}

.cargo__card:not(:first-child) {
  margin-top: 30px;
}

.cargo-box__row {
  display: flex;
  align-items: center;
}

.cargo-box__row-header {
  height: 68px;
  padding-left: 25px;
  color: var(--darkviolet);
  background: rgba(0, 166, 219, 0.1);
}

.cargo-box__city {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.cargo-box__city-bg {
  background: url('../img/truck.png') no-repeat;
  padding-left: 60px;
}

.cargo-box__city-arrow {
  background: url('../img/arrow-right.svg') no-repeat;
  fill: var(--darkviolet);
  padding-left: 35px;
}

.cargo-box__city {
  margin-right: 10px;
}

.cargo-box__distance {
  margin-left: 20px;
  padding: 5px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  background: url('../img/map.svg') left center no-repeat;
  padding-left: 30px;
}

.cargo-box__price {
  margin-left: auto;
  margin-right: 22px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

.cargo-box__row-date {
  height: 60px;
  border-bottom: 1px solid #E0E0E0;
  background: #FFFFFF;
}

.cargo-box__date {
  margin-left: 25px;
  padding-left: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  background: url('../img/calendar.svg') left center no-repeat;
}

.cargo-box__name {
  margin-left: 30px;
  padding-left: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  background: url('../img/user.png') left center no-repeat;
}

.cargo-box__contact {
  margin-left: 37px;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #464275;
}

.cargo-box__date-travel {
  margin-left: 60px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background: url('../img/clock.png') left center no-repeat;
}
.cargo-box__time-travel {
  margin-left: auto;
  margin-right: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.cargo-box__row-description {
  height: 102px;
  margin: 25px 22px 0 25px;
  flex-wrap: wrap;
  align-items: baseline;
  background: #FCFCFC;
}

.cargo-box__description {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.cargo-box__description span {
  font-weight: 400;
  margin-left: 12px;
  margin-right: 125px;
  font-size: 16px;
  line-height: 22px;
}

.cargo-box__label {
  width: 18px;
  height: 25px;
  background: url('../img/label.svg') right bottom no-repeat;
  margin-left: auto;
}

.baner300 {
  width: 300px;
  height: 600px;
  padding-top: 150px;
  font-weight: 600;
  font-size: 72px;
  line-height: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background-color: var(--darkviolet);
}

.container__cargo-bg {
  position: absolute;
  bottom: 0;
  width: 612px;
  height: 550px;
  z-index: 1;
  background: url('../img/cargo-bg.svg') no-repeat;
}

/* advertising */
.advertising {
  background: #E5E5E5;
  padding-top: 48px;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
}

.baner940 {
  width: 940px;
  height: 200px;
  padding-top: 60px;
  font-weight: 600;
  font-size: 72px;
  line-height: 88px;
  text-align: center;
  background-color: var(--darkviolet);
  color: #fff;
}

/* transport */
.transport__col {
  max-width: 802px;
}

.transport-bg {
  position: absolute;
  height: 370px;
  width: 500px;
  right: 0;
  bottom: 110px;
  background: url('../img/truck-bg.svg') right no-repeat;
}
